.ms-cbx select {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    font-size: 13px;
    padding: 0px 16px;
    color: #000;
    outline: none;
    width: 100%;
}
.ms-cbx select:focus {
    border-color: #019160;
}
.ms-cbx {
    display: block;
    font-size: 13px;
    padding: 0;
    margin-bottom: 4px;
}
.ms-cbx label {
    display: block;
    font-size: 13px;
    padding: 0;
    margin-bottom: 4px;
}
